
<div class="row">
<div class="col-md-2">
	<img src="images/icertify/stack-logo.jpg" alt="">
</div>
	<div class="col-md-offset-1 col-md-7">
		
<form role="form">
  <div class="form-group">
   <label for="key">Knowledge key</label>
    <input type="text" class="form-control" id="key" ng-model="param.key" placeholder="Enter endorsement key">
  </div>
  <div class="form-group">
   <label for="value">Value</label>
    <input type="number" class="form-control" id="value" ng-model="param.value" placeholder="1">
  </div>
  <div class="form-group">
   <button ng-click="confirm()" class="btn btn-success">OK</button>
   <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
  </div>

</form>


	</div>

</div>
