<div class="row">
    <div class="col-md-6">
       <div class="row" style="padding-top:10px;"> 
<div class="col-md-4">
                            <img class="img-circle"src="/static/pages/images/damiani.png" alt="." style="width:200px">
                            
</div>
<div class="col-md-8">
<p style="padding:10%;"><strong>Ernesto Damiani</strong> <br>
CEO & Founder of <a href="#">iCertify</a>
                            <br>
                            <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter-square"></i>
                            <i class="fa fa-linkedin-square"></i></p>
</div>
</div>
<div class="row"  style="padding-top:10px;"> 
<div class="col-md-4">
                            <img class="img-circle"src="/static/pages/images/marco.png" alt="." style="width:200px">
                            
</div>
<div class="col-md-8"  >
<p style="padding:10%;"><strong>Marco Anisetti</strong> <br>
Founder of <a href="#">iCertify</a>
                          <br>  <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter-square"></i>
                            <i class="fa fa-linkedin-square"></i></p>
</div>
</div>
<div class="row"  style="padding-top:10px;"> 
<div class="col-md-4">
                            <img class="img-circle"src="/static/pages/images/ardagna.png" alt="." style="width:200px">
                            
</div>
<div class="col-md-8"  >
<p style="padding:10%;"><strong>Claudio A. Ardagna</strong> <br>
Founder of <a href="#">iCertify</a>
                          <br>  <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter-square"></i>
                            <i class="fa fa-linkedin-square"></i></p>
</div>
</div>
<div class="row"  style="padding-top:10px;"> 
<div class="col-md-4">
                            <img class="img-circle"src="/static/pages/images/filippo2.png" alt="." style="width:200px">
                            
</div>
<div class="col-md-8">
<p style="padding:10%;"><strong>Filippo Gaudenzi</strong> <br>
Code Ninja & Founder of <a href="#">iCertify</a>
                           <br> <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter-square"></i>
                            <i class="fa fa-linkedin-square"></i></p>
</div>
</div> 

    </div>
<div class="col-md-6">

<div class="row"style="background-color:#DFDFDF; padding:3%">
<div class="col-sm-4">
<h3>Drop us a line!</h3>
<hr>
<address>
<strong>Email:</strong> <a href="mailto:#"> staff@icertify.com</a><br><br>
<strong>Phone:</strong> (555)123-4567
</address>
</div>
    
<div class="col-sm-8 contact-form" >
<form id="contact" method="post" class="form" role="form" >
<div class="row">
<div class="col-xs-6 col-md-6 form-group">
<input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
</div>
<div class="col-xs-6 col-md-6 form-group">
<input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
</div>
</div>
<textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
<br />
<div class="row">
<div class="col-xs-12 col-md-12 form-group">
<button class="btn btn-primary pull-right" type="submit">Submit</button>
</form>
</div>
</div>



</div>

